@import "variables";

.progress-bar {
  position: relative;
  border: 1px solid $std-border-color;
  border-bottom: none;
  height: 15px;
}

.progress {
  position: absolute;
  background: $in-progress-color;
  display: inline-block;
  height: 100%;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  &.complete {
    background: $complete-color;
  }
}
