$default-font-family: 'Yanone Kaffeesatz', sans-serif;
$std-font-size: 20px;
$large-font-size: 25px;
$std-font-color: #858585;
$std-border-radius: 5px;
$dark-gray: #424242;
$white: #fff;
$in-progress-color: #EF5F3C;
$complete-color: #1CBC2C;
$submit-btn-bg: #1CBC2C;
$submit-btn-border-color: #20AF2D;
$std-border-color: #DADADA;
$std-highlight-color: #EF5F3C;
$std-link-color: #2FA7D6;
$std-btn-bg: #FAFAFA;
$btn-fb-bg: #576DA8;
$btn-fb-border-color: #30477F;
$btn-tweeter-bg: #4CA7ED;
$btn-tweeter-border-color: #448CC2;
$share-modal-header-bg: #1DABC1;
$popup-msg-bg: rgba(0,0,0,.7);
